### 서울 열린 데이터 광장 

### 서울시 행정동별 하루평균 생활인구 분석 전처리
### KT LTE 시그널 데이터로 지역 생활인구 추정

In [1]:
# 데이터셋 불러오기
import pandas as pd

# 한달간 서울시 행정동별, 시간대별, 나이대별 LTE 시그널 사용자 데이터
df1_raw = pd.read_csv('./data/LOCAL_PEOPLE_DONG_202110.csv', index_col = False)

# 행정안전부 기준 행정동 코드 매핑 데이터
df2_raw = pd.read_excel('./data/행정동코드_매핑정보_20200325.xlsx')

In [11]:
# 첫번째 데이터셋 전처리
df1 = df1_raw.groupby('행정동코드').mean() # 행정동코드별로 하루 평균 생활인구 분류
df1 = df1["총생활인구수"] # 총생활인구수 컬럼만 남김
df1 = pd.DataFrame(df1) # 데이터 프레임화
df1.reset_index(level=0, inplace=True) # 분류 기준인 행정동코드 인덱스를 열로 변환하기 위한 리셋
df1 = df1.sort_values(by = '행정동코드') # 행정동코드 순으로 정렬
df1 = df1.reset_index(drop=True) # 정렬된 순으로 인덱스 재설정
df1

        행정동코드        총생활인구수
0    11110515  17694.991752
1    11110530  21669.646750
2    11110540   5502.569396
3    11110550  14744.632341
4    11110560  18310.195570
..        ...           ...
419  11740650  25798.114368
420  11740660  27510.142543
421  11740685  53963.586574
422  11740690   4926.472161
423  11740700  27750.384774

[424 rows x 2 columns]

In [3]:
# 두번째 데이터셋 전처리
df2 = df2_raw.drop(index = 0, axis=0) # 필요없는  행 제거
df2 = df2.drop(columns ='통계청행정동코드') # 필요없는 열 제거
df2 = df2.rename(columns={'행자부행정동코드': '행정동코드'}) # 열이름 변환
df2 = df2.astype({'행정동코드':'int64'}) # 행정동코드 열 타입변환
df2 = df2.sort_values(by = '행정동코드') # 행정동코드 순으로 정렬
df2 = df2.reset_index(drop=True) #정렬된 순으로 인덱스 재설정
df2

        행정동코드 시도명 시군구명   행정동명
0    11110515  서울  종로구  청운효자동
1    11110530  서울  종로구    사직동
2    11110540  서울  종로구    삼청동
3    11110550  서울  종로구    부암동
4    11110560  서울  종로구    평창동
..        ...  ..  ...    ...
419  11740650  서울  강동구   성내2동
420  11740660  서울  강동구   성내3동
421  11740685  서울  강동구     길동
422  11740690  서울  강동구   둔촌1동
423  11740700  서울  강동구   둔촌2동

[424 rows x 4 columns]

In [10]:
# 두 데이터셋 합치기 (행정동코드 기준)
result = pd.concat([df1, df2], axis = 1)

# 불필요한 열 삭제
result = result.drop(columns ='행정동코드')

# 열 순서 정리
result = result[['시도명', '시군구명', '행정동명', '총생활인구수']]
result = result.round() # 소수점 처리
result

    시도명 시군구명   행정동명   총생활인구수
0    서울  종로구  청운효자동  17695.0
1    서울  종로구    사직동  21670.0
2    서울  종로구    삼청동   5503.0
3    서울  종로구    부암동  14745.0
4    서울  종로구    평창동  18310.0
..   ..  ...    ...      ...
419  서울  강동구   성내2동  25798.0
420  서울  강동구   성내3동  27510.0
421  서울  강동구     길동  53964.0
422  서울  강동구   둔촌1동   4926.0
423  서울  강동구   둔촌2동  27750.0

[424 rows x 4 columns]

In [7]:
# xlsx 파일 만들기
result.to_excel(excel_writer='./data/서울시_행정동별_생활인구수.xlsx', index = False)